<div class="p-4">
    <div class="container">
        <h1>Hi {{user?.firstName}}!</h1>
        <p>You're logged in with Angular 14!!</p>
        <p><a routerLink="/users">Manage Users</a></p>
    </div>
</div>
<h1>Hi {{user?.firstName}}</h1>
<p>You're logged in with Angular 15!!!</p>
<p><a routerLink="/users">Manage Users</a></p>
<p>This is the home page content.</p>
<h1>Hi {{user?.firstName}}</h1>

<p>You're logged in with Angular 15!!!</p>
<p>Welcome to the home page!</p>
<p><a routerLink="/users">Manage Users</a></p>
<h1>Hi {{user?.firstName}}</h1>
<p>You're logged in with Angular 15!!!</p>
<p>This is a sample paragraph.</p>
<p>Another paragraph for testing.</p>
<a routerLink="/users">Manage Users</a>
<h1>Hi {{user?.firstName}}</h1>
<p>You're logged in with Angular 15!!!</p>
<p>This is a sample Angular application.</p>
<p><a routerLink="/users">Manage Users</a></p>