<div class="p-4">
    <div class="container">
        <h1>Hi {{user?.firstName}}!</h1>
        <p>You're logged in with Angular 14!!</p>
        <p><a routerLink="/users">Manage Users</a></p>
    </div>
</div>
<h1>Hi {{user?.firstName}}!</h1>
<p>You're logged in with Angular 15!!</p>
<p>This page demonstrates authentication and authorization in Angular 15.</p>
<p>You can manage users from the link below:</p>
<a routerLink="/users">Manage Users</a>
<h1>Hi {{user?.firstName}}!</h1>
<p>You're logged in with Angular 15!!</p>
<p>This page can be accessed by all authenticated users.</p>
<p><a routerLink="/users">Manage Users</a></p>
<h1>Hi {{user?.firstName}}!!</h1>
<p>You're logged in with Angular 15!!</p>
<p>This page demonstrates user authentication and authorization.</p>
<p><a routerLink="/users">Manage Users</a></p>